<!-- Main Page Template -->

{{ define "main" }}

<html>
  <head>
    <title>Work in progress</title>
  </head>

  <body>
    <ul>
      {{ range .RootNodes }}
        {{ template "bookmark_node" . }}
      {{ end }}
    </ul>

    Last updated at {{.Updated}}
  </body>
</html>

{{ end }}

<!-- Bookmark Node Template -->

{{ define "bookmark_node" }}
{{ if eq 0 (len .Children) }}
  <li><a href="{{ .URL }}">{{ .Title }}</a></li>
{{ else }}
  <li>{{ .Title }}</li>
  <ul>
    {{ range .Children }}
      {{ template "bookmark_node" . }}
    {{ end }}
  </ul>
{{ end }}
{{ end }}